<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>

</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form action="/upload/post/10" method="post" enctype="multipart/form-data">
        <input type="file" name="upfile" />
        <input type="submit" value="전송" />
  </form>
  
</body>
</html>